p{

    font-family: 'Montserrat';
    font-size: 14pt;
}

div{

    text-align: center;
}


h1{
    font-size: 35pt;
}

span{

    font-size: 18pt;
}

body{

    background-color: rgba(60, 60, 60, 0.4);
    font-family: 'Montserrat';

}


